/* * {
  box-sizing: border-box;
} */

form input{
  margin: 0.5rem;
}

 /*Registration and Login Forms*/
.splash_form {
  margin: 5rem auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  padding: 4rem;
  box-shadow: 4px 10px 18px 4px rgba(0, 0, 0, 0.33);
  background-color: grey;
}

/*Grid for log area layouts on user page*/
.log-area {  
  display: grid;
  position: flex;  
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(12,100px);;
  grid-template-areas: 
    ". area1 ."
    "area2 area1 area3"
    "area2 area0 area3"
    "area4 area0 area5"
    "area4 area6 area5"
    ". area6 ."
     ". foot ."
    ". foot .";
  column-gap: 14em; 
  text-align: center;
  align-items: center;  
  justify-content: center;
}

.area-0 {
  grid-area: area0; 
  background-color: mediumaquamarine;
  box-shadow: 4px 10px 18px 4px rgba(0, 0, 0, 0.33);
 }


.area-1 {
  grid-area: area1; 
  background-color: grey;
  box-shadow: 4px 10px 18px 4px rgba(0, 0, 0, 0.33);
 }

.area-2 {
  grid-area: area2; 
  background-color: grey;
  box-shadow: 4px 10px 18px 4px rgba(0, 0, 0, 0.33);
 }
 .area-3 {
  grid-area: area3; 
  background-color: grey;
  box-shadow: 4px 10px 18px 4px rgba(0, 0, 0, 0.33);
 }
 .area-4 {
  grid-area: area4; 
  background-color: grey;
  box-shadow: 4px 10px 18px 4px rgba(0, 0, 0, 0.33);
 }
 .area-5 {
  grid-area: area5; 
  background-color: grey;
  box-shadow: 4px 10px 18px 4px rgba(0, 0, 0, 0.33);
 }
 .area-6 {
  grid-area: area6; 
  background-color: grey;
  box-shadow: 4px 10px 18px 4px rgba(0, 0, 0, 0.33);
 }

 .footer {
  grid-area: foot; 
  background-color: grey;
  box-shadow: 4px 10px 18px 4px rgba(0, 0, 0, 0.33);
 }

 /*pop up display from area buttons*/
 .pop-up {
   position: relative;
  display: none;
  grid-area: dayArea; 
   z-index: 100;
  height: 200;
  width: 200;
}

.pop-up-content {
  background: black;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;

}