* {
  box-sizing: border-box;
}

form {
  align-items: center;
  flex-direction: column;
  width: 300px;
 }

form input{
  margin: 0.5rem;
}

.splash_form {
  margin: 5rem auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  padding: 4rem;

  box-shadow: 4px 10px 18px 4px rgba(0, 0, 0, 0.33);
  background-color: grey;
}

button {
  display: flex;
  align-items: center;
}

.log_area {  
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-template-rows: 16% 16% 16% 16% 16% 16%;
  grid-template-areas: 
    "1 area1 3"
    "area2 5 area3"
    "7 dayArea 9"
    "area4 11 area5"
    "13 area6 15"
    "16 foot 18";
  column-gap: 4em; /* control the gap between both columns*/ 
  row-gap: 4em; /* control the gap between both columns*/
  padding-left: 20%;
  padding-right: 20%;
}

.area-0 {
  grid-area: dayArea; 
  background-color: mediumaquamarine;
  box-shadow: 4px 10px 18px 4px rgba(0, 0, 0, 0.33);
 }


.area-1 {
  grid-area: area1; 
  background-color: blue;
  box-shadow: 4px 10px 18px 4px rgba(0, 0, 0, 0.33);
 }

.area-2 {
  grid-area: area2; 
  background-color: green;
  box-shadow: 4px 10px 18px 4px rgba(0, 0, 0, 0.33);
 }
 .area-3 {
  grid-area: area3; 
  background-color: yellow;
  box-shadow: 4px 10px 18px 4px rgba(0, 0, 0, 0.33);
 }
 .area-4 {
  grid-area: area4; 
  background-color: orange;
  box-shadow: 4px 10px 18px 4px rgba(0, 0, 0, 0.33);
 }
 .area-5 {
  grid-area: area5; 
  background-color: purple;
  box-shadow: 4px 10px 18px 4px rgba(0, 0, 0, 0.33);
 }
 .area-6 {
  grid-area: area6; 
  background-color: chartreuse;
  box-shadow: 4px 10px 18px 4px rgba(0, 0, 0, 0.33);
 }

 .footer {
  grid-area: foot; 
 }